*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin' , sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(2g.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    background: white;
    margin: 6% auto;
    position: relative;
    padding: 5px;
    overflow: hidden;
}
.button-box{

    width: 220px;
    margin: 35px auto;
    position :relative;
    box-shadow:0 0 20px 3px #9AFBFA;
    border-radius: 35px;

}
.toggle-btn{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #9AFBFA,#D071F9);
    border-radius: 30px;
    transition: 1s;
    
}

.social-media{
    margin:30px auto;
    text-align: center;
}
.social-media img{
    margin:0 10px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 #f7f7f7;
    cursor: pointer;
}
.login-form{
    top:180px;
    position: absolute;
    /* border: 2px solid; */
    width: 280px;
    transition: 1s;

}
.form-feild{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;


}
.submit{
    width: 85%;
    padding: 10px 35px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #9AFBFA,#D071F9);
border: 0;
outline: none;
border-radius: 25px;
}
.checkbox{
    margin:30px 5px;

}
span{
    color:#777;
    font-size:12px;
    bottom:64px;
    position: absolute;
}
#login{
    left:50px;

}
#register{
    left: 450px;
}
